:root { 
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    --Very-dark-blue: hsl(233, 47%, 7%);
    --Soft-violet: hsl(277, 64%, 61%);
    --White: hsl(0, 0%, 100%);
    --Slightly-transparent-white-p: hsla(0, 0%, 100%, 0.75);
    --Slightly-transparent-white-sh: hsla(0, 0%, 100%, 0.6);
}

* {
  margin: 0; 
  padding:0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 100px auto 100px;
  background-color: var(--Very-dark-blue);
  font-family: "Inter";
  font-size: 0.9rem;
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

article {
  display: block;
}

img, picture {
  display: block;
  width: 100%;
  height: auto;
  filter: blur(0.5px) opacity(80%) brightness(85%);
  object-fit: fill;
}

h1 {
  overflow-wrap: break-word;
  color: var(--White);
  font-weight: 700;
  font-size: x-large;
}

span {
  color: var(--Soft-violet);
}

p {
  overflow-wrap: break-word;
  color: var(--Slightly-transparent-white-p);
}

.stats p {
  overflow-wrap: break-word;
  color: var(--Slightly-transparent-white-sh);
  font-family: "Lexend Deca";
  text-transform: uppercase;
}

.container {
  max-width: 90%;
  grid-row: 2;
  justify-self: center;
  align-self: center;
}

.card {
  background-color: var(--Dark-desaturated-blue);
  display: grid;
  text-align: center;
  border-radius: 0.5rem;
  overflow: hidden;
}

.image {
  background-color: hsl(277, 93%, 32%);
}

.description {
  padding: 2rem;
  display: grid;
  gap: 1rem;
}

.stats {
  padding: 1rem;
  line-height: 1.2;
  display: grid;
  gap: 1.5rem;
}

@media only screen and (min-width: 44rem) {

  .container {
    max-width: 44rem;
  }

  img, picture {
    width: 100%;
    height: 100%;
  }

  .card {
    grid-template-columns: 1fr 1fr;
    text-align: left;
    justify-self: center;
  }

  .image {
    justify-self: end;
    order: 2;
  }

  .stats {
    grid-template-columns: repeat(3, 1fr);
    font-size: small;
  }
}